<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT comment ANY>
<!ATTLIST comment id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1071" key="cec7b2bf-c167-43bf-8f84-68db7263c203" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-31T14:22:35" updateDate="2016-10-08T15:40:35" nodeName="Welcome" urlName="welcome" path="-1,1071" isDoc="" nodeType="1049" creatorName="Neli" writerName="Neli" writerID="0" template="1048" nodeTypeAlias="homePage">
    <siteTitle><![CDATA[I Freaking Love Science]]></siteTitle>
    <mainContent><![CDATA[<p><img style="width: 900px; height: 405px;" src="/media/1001/1915825_1361179410569733_6252770804469414704_n.jpg?width=900&amp;height=405" alt="Earth" rel="1070" data-id="1070" /></p>
<p style="text-align: center;">We're here for the science - the funny side of science. Quotes, jokes, memes and anything your admin finds awesome and strange.</p>
<p style="text-align: center;">If you take yourself seriously, you're on the wrong page.</p>
<p style="text-align: center;">We're dedicated to bringing the amazing world of science straight to your newsfeed in an amusing and accessible way.</p>
<p style="text-align: center;"> </p>
<p> </p>]]></mainContent>
    <footer><![CDATA[This Privacy Policy was last updated on August 5th, 2014.]]></footer>
    <articlesMain id="1075" key="86dbd505-a3cb-48a9-8341-534d528bcaa1" parentID="1071" level="2" creatorID="0" sortOrder="1" createDate="2016-08-31T15:06:57" updateDate="2016-10-08T16:19:01" nodeName="Articles" urlName="articles" path="-1,1071,1075" isDoc="" nodeType="1057" creatorName="Neli" writerName="Neli" writerID="0" template="1056" nodeTypeAlias="articlesMain">
      <articlesBodyText><![CDATA[<p style="text-align: justify;"><img style="width: 165px; height: 208px;" src="/media/1002/500px-chimp_brain_in_a_jar.jpg?width=165&amp;height=208" alt="" rel="1074" data-id="1074" />The brain is an organ that serves as the center of the nervous system in all vertebrate and most invertebrate animals. Only a few invertebrates such as sponges, jellyfish, adult sea squirts and starfish do not have a brain; diffuse or localised nerve nets are present instead. The brain is located in the head, usually close to the primary sensory organs for such senses as vision, hearing, balance, taste, and smell. The brain is the most complex organ in a vertebrate's body. In a typical human, the cerebral cortex (the largest part) is estimated to contain 15–33 billion neurons.</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Articles About The Brain]]></articlesTitle>
      <articlesItem id="1076" key="103fd1f3-aafa-4668-8bf0-3d6575a67118" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2016-08-31T15:08:09" updateDate="2016-10-08T16:19:42" nodeName="Brain on sugar" urlName="brain-on-sugar" path="-1,1071,1075,1076" isDoc="" nodeType="1059" creatorName="Neli" writerName="Neli" writerID="0" template="1058" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Scientists Have Watched A Brain Getting Hooked On Sugar In Real Time]]></articleTitle>
        <articleMainContent><![CDATA[<p style="text-align: justify;">As Ivan Pavlov famously demonstrated with his science hounds, brains are extremely malleable and easily reprogrammed. This can be a good thing, as it helps us learn new behaviors, although when these form into bad habits things can get a bit problematic. To learn more about what drives this process, scientists have developed a new technique that allows them to watch the brain becoming hooked in real time.</p>
<p style="text-align: justify;">Presenting their work yesterday at a meeting of the American Chemical Society, the researchers revealed how they injected detectors called cell-based neurotransmitter fluorescent engineered reporters – or CNiFERs for short – into the brains of mice. These are special receptors that light up when they detect the presence of certain neurotransmitters, thereby giving scientists a glimpse of exactly which chemicals are being transmitted in the brain at a given point in time.</p>
<p style="text-align: justify;">This represents a major step forward for neuroscientists, as while measuring electrical brain activity is relatively simple, observing neurotransmitter activity is considerably more difficult – particularly given the fact that some of these substances, such as dopamine and noradrenaline, are virtually identical and therefore indistinguishable.</p>
<p style="text-align: justify;">Rehashing Pavlov’s iconic experiment, the team trained mice to associate the sound of a bell ringing with a sugary treat. At first, the mice didn’t respond at all to the bell, and experienced a surge of dopamine – the neurotransmitter associated with pleasure – only after receiving the treat.</p>]]></articleMainContent>
      </articlesItem>
      <articlesItem id="1077" key="88109680-ecc2-4e26-a98e-1fa512e4f02c" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2016-08-31T15:08:46" updateDate="2016-10-08T16:20:08" nodeName="Brain cells" urlName="brain-cells" path="-1,1071,1075,1077" isDoc="" nodeType="1059" creatorName="Neli" writerName="Neli" writerID="0" template="1058" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Research Reveals How New Brain Cells Are Born]]></articleTitle>
        <articleMainContent><![CDATA[<p style="text-align: justify;">Though the majority of our neurons are formed before we are born and don’t regenerate as we go through life, a brain region called the hippocampal dentate gyrus – which is largely responsible for memory – does continue to produce new neurons throughout our lifetime. These new cells are derived from neural stem cells (NSCs), and are vital for the maintenance of our cognitive capacities as we age, although until now scientists had struggled to explain how these NSCs develop into fully functioning neurons.</p>
<p style="text-align: justify;">At the heart of the mystery is the fact that these stem cells aren’t predestined to become neurons, but can instead develop into other types of brain cells such as astrocytes and oligodendrocytes. Both of these are examples of glial cells, which surround neurons and help to protect and support them. However, in the hippocampus, all NSCs do go on to become neurons, and none produce oligodendrocytes.</p>
<p style="text-align: justify;">Until now, it had been largely accepted that stem cells do not control their own destiny, and are instead stimulated to develop a particular type of cell by specific compounds in their external environment. However, a new study in the journal Cell Stem Cell reveals that NSCs in the hippocampus are in fact masters of their own destiny, and contain internal mechanisms that steer their development in favor of becoming neurons rather than glial cells.</p>]]></articleMainContent>
      </articlesItem>
      <articlesItem id="1120" key="0eca2edd-e4b0-492b-9edc-7981d63d03cc" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2016-10-08T15:48:42" updateDate="2016-10-08T16:20:20" nodeName="The brain and the machine" urlName="the-brain-and-the-machine" path="-1,1071,1075,1120" isDoc="" nodeType="1059" creatorName="Neli" writerName="Neli" writerID="0" template="1058" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[The Future Of Brain And Machine Is Intertwined, And It’s Already Here]]></articleTitle>
        <articleMainContent><![CDATA[<p style="text-align: justify;">Imagine a condition that leaves you fully conscious, but unable to move or communicate, as some victims of severe strokes or other neurological damage experience. This is locked-in syndrome, when the outward connections from the brain to the rest of the world are severed. Technology is beginning to promise ways of remaking these connections, but is it our ingenuity or the brain’s that is making it happen?</p>
<p style="text-align: justify;">Ever since an 18th-century biologist called Luigi Galvani made a dead frog twitch we have known that there is a connection between electricity and the operation of the nervous system. We now know that the signals in neurons in the brain are propagated as pulses of electrical potential, whose effects can be detected by electrodes in close proximity. So in principle, we should be able to build an outward neural interface system – that is to say, a device that turns thought into action.</p>
<p style="text-align: justify;"> <img style="width: 263px; height: 148px;" src="/media/1006/extra_large-1475498014-cover-image.jpg?width=263&amp;height=148" alt="" rel="1119" data-id="1119" /></p>
<p style="text-align: justify;">In fact, we already have the first outward neural interface system to be tested in humans. It is called BrainGate and consists of an array of micro-electrodes, implanted into the part of the brain concerned with controlling arm movements. Signals from the micro-electrodes are decoded and used to control the movement of a cursor on a screen, or the motion of a robotic arm.</p>
<p style="text-align: justify;">A crucial feature of these systems is the need for some kind of feedback. A patient must be able to see the effect of their willed patterns of thought on the movement of the cursor. What’s remarkable is the ability of the brain to adapt to these artificial systems, learning to control them better.</p>]]></articleMainContent>
      </articlesItem>
    </articlesMain>
    <projectsMain id="1078" key="398f6141-6ccd-4c55-82cb-3c1fca1c8069" parentID="1071" level="2" creatorID="0" sortOrder="2" createDate="2016-08-31T15:09:36" updateDate="2016-10-08T16:18:32" nodeName="Neuroscience" urlName="neuroscience" path="-1,1071,1078" isDoc="" nodeType="1062" creatorName="Neli" writerName="Neli" writerID="0" template="1061" nodeTypeAlias="projectsMain">
      <projectsTitle><![CDATA[Neuroscience Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p style="text-align: justify;">Neuroscience is the scientific study of the nervous system.[ Traditionally, neuroscience is recognized as a branch of biology. However, it is currently an interdisciplinary science that collaborates with other fields such as chemistry, cognitive science, computer science, engineering, linguistics, mathematics, medicine (including neurology), genetics, and allied disciplines including philosophy, physics, and psychology. It also exerts influence on other fields, such as neuroeducation, neuroethics, and neurolaw. The term neurobiology is often used interchangeably with the term neuroscience, although the former refers specifically to the biology of the nervous system, whereas the latter refers to the entire science of the nervous system (thus can include elements of psychology as well as the purely physical sciences).</p>
<p style="text-align: justify;">The scope of neuroscience has broadened to include different approaches used to study the molecular, cellular, developmental, structural, functional, evolutionary, computational, and medical aspects of the nervous system. The techniques used by neuroscientists have also expanded enormously, from molecular and cellular studies of individual nerve cells to imaging of sensory and motor tasks in the brain. Recent theoretical advances in neuroscience have also been aided by the study of neural networks.</p>]]></projectsBodyText>
      <projectsItem id="1079" key="123fbadd-6c8c-4a93-b9fc-a8ac33370eb1" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2016-08-31T15:12:13" updateDate="2016-10-08T19:41:06" nodeName="Mice neurons" urlName="mice-neurons" path="-1,1071,1078,1079" isDoc="" nodeType="1069" creatorName="Neli" writerName="Neli" writerID="0" template="1068" nodeTypeAlias="projectsItem">
        <projectTitle><![CDATA[Neurons In Mice Found To Be Influenced By Environment Rather Than Genetics]]></projectTitle>
        <projectBrief><![CDATA[While recent studies may have shown that there is no such thing as a "male" or "female" brain in humans, in mice there are differences between brains of the sexes. One of these differences relates to the ability of the rodents to smell the scent of females, something that the males can do but the females can’t. Yet while you might expect such differences to be hard wired into the genetics of the animals, it appears that things are a lot more flexible than anyone imagined.]]></projectBrief>
        <startDate>2016-08-01T00:00:00</startDate>
        <projectMainContent><![CDATA[<p> </p>
<p><img src="/media/1007/b.jpg?width=900&amp;height=506" alt="" width="900" height="506" rel="1123" data-id="1123" /></p>
<p style="text-align: justify;">The researchers were experimenting using mice, where they found that males contained a specific type of neuron that detected the female’s pheromones, or scent, which triggers the males to start courting and mating behaviors. The smell, in particular, is caused by a chemical known as epitestosterone sulfate, which is thought to be a by-product of the females’ sex hormones, and so it would make sense that only the males could detect it, and that it would be coded for in the DNA of the animals.</p>
<p style="text-align: justify;">Yet for their research, the team from Washington University School of Medicine found something intriguing. While ordinarily the two sexes of mice are kept apart in the lab, they found that when the males were over exposed to the females, it physically altered the specific neurons that detect the female’s pheromones. They found that the males actually lost them, which in turn made them unresponsive to the females scent and lose their interest in the opposite sex. What’s more, when the male mice were then segregated from the females again, after time the neurons actually returned.</p>
<p style="text-align: justify;">By further trying the same experiment with mice that had their testes and ovaries removed, they found the same results. “The neuronal types were not changed in ovariectomized females nor castrated males,” says Pei Sabrina Xu, the second author for the paper. “That tells us it's not a hormonal effect but dominated by sensory experience."</p>]]></projectMainContent>
        <projectTeam><![CDATA[House M.D., Dr. Quinn,]]></projectTeam>
        <projectStatus><![CDATA[Initiated]]></projectStatus>
      </projectsItem>
      <projectsItem id="1081" key="480ede6a-fbec-420e-a408-4152ce41b1cd" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2016-09-16T07:47:11" updateDate="2016-10-08T19:44:19" nodeName="Supper conductivity" urlName="supper-conductivity" path="-1,1071,1078,1081" isDoc="" nodeType="1069" creatorName="Neli" writerName="Neli" writerID="0" template="1068" nodeTypeAlias="projectsItem">
        <projectTitle><![CDATA[We Are A Step Closer To Understanding How Superconductivity Works]]></projectTitle>
        <projectBrief><![CDATA[Researchers at Brookhaven National Laboratory have discovered what makes a special class of material superconductive at relatively high temperatures, which might lead to a major breakthrough in electronics that allows superconductors to be used at room temperature.

The team of scientists, led by Ivan Božović, discovered that the key to superconductivity depends on the density of electrons pairing up.]]></projectBrief>
        <startDate>2016-09-16T00:00:00</startDate>
        <projectMainContent><![CDATA[<p style="text-align: justify;"><img style="width: 501px; height: 281px;" src="/media/1008/c.jpg?width=501&amp;height=281" alt="" rel="1124" data-id="1124" /></p>
<p style="text-align: justify;">Usually, this happens at very low temperatures (close to absolute zero), but in a special class of material known as cuprates, it happens at significantly higher temperatures, although still below freezing.</p>
<p style="text-align: justify;">Cuprates are usually made of layers of copper oxide mixed with other elements such as strontium. Bozovic’s team spent 10 years analyzing 2,000 different samples of cuprates, each with a different amount of strontium, to work out what allows them to be superconductive at higher temperatures.</p>
<p style="text-align: justify;">Superconductivity only happens under a certain temperature, and the team discovered that the temperature depends on the density of electron pairs, a state where electrons don’t repel each other anymore.</p>
<p style="text-align: justify;">The electron pair state is a quantum mechanical effect that happens when the temperatures are low enough for electrons to stop repelling each other. Under those conditions, electricity flows with no resistance in the material and magnetic field lines are pushed outside.</p>
<p style="text-align: justify;">In the study, which is published in Nature, they found that strontium helps the electrons pair up, making the superconducting transition temperature higher. Unfortunately, this only works up to a point. As the amount of strontium increases, it stops forming electron pairs and the material doesn’t possess its superconducting property anymore. The next step is to understand why exactly the electrons pair up.</p>
<p style="text-align: justify;">"While in some sense we have answered the question why is the critical temperature so high in cuprate superconductors, other important questions are still open. The foremost ones are what causes strong local pairing and why are cuprates so exceptional in this respect. This is the focus of our research now," Božović told IFLScience.</p>
<p style="text-align: justify;">Imagine electricity flowing from power plants to your home with no loss, electronic devices never heating, and fast silent trains crossing countries as fast as planes. This could be a not so distant future if we find a superconductor that works at room temperature.</p>
<p style="text-align: justify;">"Room temperature superconductors have yet to be discovered, and this can only be done experimentally. However, if we have the correct theoretical picture, then instead of looking in every corner, we can focus the search in the right direction, thus increasing the chances significantly," Božović added.</p>
<p style="text-align: justify;">Nevertheless, these wondrous materials are already employed. For example, CERN uses tens of kilometers of superconducting electrical cables in the Large Hadron Collider (LHC). The day of a room-temperature superconductor is not quite on the horizon yet, but we are a lot closer thanks to this research.</p>
<p style="text-align: justify;"> </p>]]></projectMainContent>
        <projectTeam><![CDATA[Neli Chakarova, Bruce Wayne]]></projectTeam>
        <projectStatus><![CDATA[Completed]]></projectStatus>
      </projectsItem>
      <projectsItem id="1082" key="e4d2b77c-6db6-4cb8-aff2-dcbd44aee8b7" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2016-09-16T07:47:40" updateDate="2016-10-08T19:55:07" nodeName="Antimatter" urlName="antimatter" path="-1,1071,1078,1082" isDoc="" nodeType="1069" creatorName="Neli" writerName="Neli" writerID="0" template="1068" nodeTypeAlias="projectsItem">
        <projectTitle><![CDATA[Researchers Describe How To Make Antimatter With A Laser]]></projectTitle>
        <projectBrief><![CDATA[The equivalence of matter and energy was first enshrined in the laws of physics by the famous E=mc2 equation, and since then we have been using it to get energy out of matter in nuclear power plants.]]></projectBrief>
        <startDate>2016-09-14T00:00:00</startDate>
        <projectMainContent><![CDATA[<p style="text-align: justify;">Now, Russian researchers have looked into the opposite effect. By using a powerful laser, they plan to create antimatter from light. The team has produce detailed calculations on how to use ultrahigh-intensity lasers to create electrons and positrons.</p>
<p style="text-align: justify;">While positrons are one of the simplest antimatter particles, being just the opposite of the electron, it is difficult to create many of them with very high energy. This might be the right way to do it.</p>
<p style="text-align: justify;">The team, from the Institute of Applied Physics of the Russian Academy of Sciences, has worked on a specific prediction of a theory called quantum electrodynamics (QED), which describes how matter and light interact at the quantum level.</p>
<p style="text-align: justify;">The prediction states that given a very strong electric field, it is possible to form electron-positron pairs. In a simplistic way, the field turns the virtual particles that inhabit the vacuum into real particles we can observe.</p>
<p style="text-align: justify;"><img style="width: 1360px; height: 765px;" src="/media/1009/d.jpg?width=1360&amp;height=765" alt="" rel="1125" data-id="1125" /></p>
<p style="text-align: justify;">In a paper, published in Physics of Plasma, the team worked out how to use this idea to create a QED cascade – a self-sustaining emission of electron-positron pairs.</p>
<p style="text-align: justify;">“Think of it as a chain reaction in which each chain link consists of sequential processes,” Igor Kostyukov said in a statement. “It begins with acceleration of electrons and positrons within the laser field. This is followed by emission of high-energy photons by the accelerated electrons and positrons. Then, the decay of high-energy photons produces electron-positron pairs, which go on to new generations of cascade particles. A QED cascade leads to an avalanche-like production of electron-positron high-energy photon plasmas.”</p>
<p style="text-align: justify;">The researchers simulated the interaction between some foil and very powerful laser pulses to create strong electric fields, much stronger than those found in atoms. They discovered that the modeled set up would create the QED cascade and a large number of positrons.</p>
<p style="text-align: justify;">The researchers will continue to expand this simulation, trying to understand what would happen in more realistic and chaotic scenarios, which could potentially be turned into real-life applications for generating plasma.</p>]]></projectMainContent>
        <projectTeam><![CDATA[Spiderman, Captain America]]></projectTeam>
        <projectStatus><![CDATA[Completed]]></projectStatus>
      </projectsItem>
      <projectsItem id="1083" key="371f6e5b-184e-45ad-a73d-2c69b61cf45e" parentID="1078" level="3" creatorID="0" sortOrder="3" createDate="2016-09-16T09:27:34" updateDate="2016-10-08T19:54:25" nodeName="Polymer shape change" urlName="polymer-shape-change" path="-1,1071,1078,1083" isDoc="" nodeType="1069" creatorName="Neli" writerName="Neli" writerID="0" template="1068" nodeTypeAlias="projectsItem">
        <projectTitle><![CDATA[This Polymer Can Change Shape By Itself]]></projectTitle>
        <projectBrief><![CDATA[Researchers have developed a new type of polymer that is able to shape shift at particular times autonomously, without any input.]]></projectBrief>
        <startDate>2016-09-03T00:00:00</startDate>
        <projectMainContent><![CDATA[<p><iframe width="415" height="311" src="https://www.youtube.com/embed/JboWNXNql_w?feature=oembed" frameborder="0" allowfullscreen=""></iframe></p>
<p>This is the first time that scientists have been able to create a material that can do this, as shape-changing materials usually require an outside trigger, such as light. To demonstrate this impressive feat, the team have created an impressively realistic looking flower that opens and closes on its own.</p>
<p style="text-align: justify;">The study was led by Professor Sergei Sheiko of the University of North Carolina and published in the journal Nature Communications.</p>
<p style="text-align: justify;">The polymer works by having a mixture of different types of bonds. The first are permanent bonds that determine the final shape of the material, as they act a little like springs, snapping back to the desired configuration. It is the dynamic, or reversible bonds, however, that control the rate at which the polymer changes shape. These are in turn controlled by a couple of different factors, and it is the number and positioning of these that dictate the specific timings.</p>
<p style="text-align: justify;">“One [factor] is the strength of the individual bond – or the energy of dissociation of the individual bond. The other is the concentration of these bonds,” Professor Sheiko told BBC News. “There is a third parameter: several individual hydrogen bonds (dynamic bonds) can form a cluster. This cluster of hydrogen bonds can then form stronger cross-links.”</p>
<p style="text-align: justify;">By tightly managing where these bonds are on the polymer, and when they will break, the researchers have been able to create the material that alters its shape at a specific time. While they found it difficult to create a complex shape-shifter from one piece of polymer, by adding together multiple components, which were each set to a different time, they were able to make objects change shape in sequence, as seen with the individual petals opening on the flower.</p>
<p style="text-align: justify;">“We wanted to make the concept more explicit. So there are plenty of examples in nature, like flowers, which change their shape with time,” Professor Sheiko said to BBC News. “One of the advantages of our technology is that you can assemble a complex shape of individual pieces like these petals. Usually, shape memory materials are just made up of one chunk that changes shape.”</p>
<p style="text-align: justify;">Shape-shifting materials are nothing new, but they usually need some sort of external trigger, such as light or heat. This newly developed polymer has, however, been developed so that it in effect it has its own internal clock, changing its shape at certain times. This could have all sorts of applications, for example for medical implants or drug delivery systems, where traditional shape-shifting polymers fail due to the dark, stable environment of the body rendering external triggers useless.</p>]]></projectMainContent>
        <projectTeam><![CDATA[Cat woman, Dr. House, Donald Duck]]></projectTeam>
        <projectStatus><![CDATA[Completed]]></projectStatus>
      </projectsItem>
    </projectsMain>
    <contactPage id="1087" key="82f90ef0-14ab-4d65-8638-6211d14996ef" parentID="1071" level="2" creatorID="0" sortOrder="3" createDate="2016-09-17T16:42:12" updateDate="2016-09-17T16:42:12" nodeName="Contact Us" urlName="contact-us" path="-1,1071,1087" isDoc="" nodeType="1086" creatorName="Neli" writerName="Neli" writerID="0" template="1085" nodeTypeAlias="contactPage" />
    <message id="1098" key="ce66c151-f279-44a4-8c54-bbcf67193385" parentID="1071" level="2" creatorID="0" sortOrder="4" createDate="2016-09-19T10:00:15" updateDate="2016-09-19T10:00:15" nodeName="Message Board" urlName="message-board" path="-1,1071,1098" isDoc="" nodeType="1097" creatorName="Neli" writerName="Neli" writerID="0" template="1096" nodeTypeAlias="message">
      <message id="1130" key="f1295891-9037-44cf-846a-be39687658fb" parentID="1098" level="3" creatorID="0" sortOrder="0" createDate="2016-10-08T20:49:04" updateDate="2016-10-08T20:49:04" nodeName="The mystery of the disappearing continent" urlName="the-mystery-of-the-disappearing-continent" path="-1,1071,1098,1130" isDoc="" nodeType="1097" creatorName="Neli" writerName="Neli" writerID="0" template="1096" nodeTypeAlias="message">
        <text><![CDATA[Y'all claiming "Atlantis" need to know it was a fictional nation made up by Plato as an extended metaphor on nations' pride and over confidence after it attacks his perfect utopian state "Ancient Athens" (also fictional) and fails.]]></text>
        <title><![CDATA[The mystery of the disappearing continent]]></title>
      </message>
      <message id="1131" key="8306c88c-160d-4d70-8337-f57366d855ec" parentID="1098" level="3" creatorID="0" sortOrder="1" createDate="2016-10-08T20:49:21" updateDate="2016-10-08T20:49:21" nodeName="Antlantis" urlName="antlantis" path="-1,1071,1098,1131" isDoc="" nodeType="1097" creatorName="Neli" writerName="Neli" writerID="0" template="1096" nodeTypeAlias="message">
        <text><![CDATA[Santorini. Not so much made up as romanticized]]></text>
        <title><![CDATA[Antlantis]]></title>
      </message>
      <message id="1132" key="c9d4114f-f958-4d8f-a537-61d8ed8f01ce" parentID="1098" level="3" creatorID="0" sortOrder="2" createDate="2016-10-08T20:49:37" updateDate="2016-10-08T20:49:37" nodeName="The mystery of the disappearing continent (1)" urlName="the-mystery-of-the-disappearing-continent-1" path="-1,1071,1098,1132" isDoc="" nodeType="1097" creatorName="Neli" writerName="Neli" writerID="0" template="1096" nodeTypeAlias="message">
        <text><![CDATA[Atlantis was a more advanced society that still lost to Ancient Athens to cement the power of Plato's perfect Republic. He described it as situated in the Atlantic. I'm sure Santorini probably had some influence but there's no direct link.]]></text>
        <title><![CDATA[The mystery of the disappearing continent]]></title>
      </message>
      <message id="1133" key="17825d63-e673-4032-a9d9-2c460aba3985" parentID="1098" level="3" creatorID="0" sortOrder="3" createDate="2016-10-08T20:50:06" updateDate="2016-10-08T20:50:06" nodeName="Atlantis years" urlName="atlantis-years" path="-1,1071,1098,1133" isDoc="" nodeType="1097" creatorName="Neli" writerName="Neli" writerID="0" template="1096" nodeTypeAlias="message">
        <text><![CDATA[This says the crust they were looking for disappeared 40 to 60 million years ago, Atlantis was only about 5000 years ago]]></text>
        <title><![CDATA[Atlantis years]]></title>
      </message>
      <message id="1134" key="562ccea6-f690-4a3b-8062-55670f1eb1e2" parentID="1098" level="3" creatorID="0" sortOrder="4" createDate="2016-10-08T20:50:58" updateDate="2016-10-08T20:50:58" nodeName="How come?" urlName="how-come" path="-1,1071,1098,1134" isDoc="" nodeType="1097" creatorName="Neli" writerName="Neli" writerID="0" template="1096" nodeTypeAlias="message">
        <text><![CDATA[Mud flats of southern Spain?]]></text>
        <title><![CDATA[How come?]]></title>
      </message>
      <message id="1135" key="c1408469-c6ab-4090-a26a-b04d66bad98e" parentID="1098" level="3" creatorID="0" sortOrder="5" createDate="2016-10-08T20:51:18" updateDate="2016-10-08T20:51:18" nodeName="The mystery of the disappearing continent (2)" urlName="the-mystery-of-the-disappearing-continent-2" path="-1,1071,1098,1135" isDoc="" nodeType="1097" creatorName="Neli" writerName="Neli" writerID="0" template="1096" nodeTypeAlias="message">
        <text><![CDATA[Thought experiment =/= reality. Similarly naming a city that has sank and been discovered "Atlantis" =/= Atlantis.

By this, I could claim a sword found in a lake to be Excalibur but the only similarities are it's a sword and in a lake.]]></text>
        <title><![CDATA[The mystery of the disappearing continent]]></title>
      </message>
    </message>
    <textPage id="1111" key="164cd99d-c553-44e9-adc0-bdf95c5d932a" parentID="1071" level="2" creatorID="0" sortOrder="5" createDate="2016-09-25T09:55:56" updateDate="2016-09-25T10:16:59" nodeName="Login" urlName="login" path="-1,1071,1111" isDoc="" nodeType="1053" creatorName="Neli" writerName="Neli" writerID="0" template="1110" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </textPage>
    <textPage id="1112" key="61cbcc7b-0d50-4d75-a8c6-021418e10cb2" parentID="1071" level="2" creatorID="0" sortOrder="6" createDate="2016-09-25T10:17:23" updateDate="2016-09-25T10:23:36" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1071,1112" isDoc="" nodeType="1053" creatorName="Neli" writerName="Neli" writerID="0" template="1052" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <mainContent><![CDATA[<p><strong>FORBIDDEN ACCESS PAGE</strong></p>
<p>You do not have access to this page</p>]]></mainContent>
    </textPage>
    <members id="1116" key="5ea33a84-cbec-4e68-9cdb-541fe3c2b8cf" parentID="1071" level="2" creatorID="0" sortOrder="8" createDate="2016-09-25T11:27:56" updateDate="2016-10-08T19:59:19" nodeName="Members" urlName="members" path="-1,1071,1116" isDoc="" nodeType="1114" creatorName="Neli" writerName="Neli" writerID="0" template="1113" nodeTypeAlias="members" />
    <about id="1139" key="b90147ec-8132-466a-b226-3b4e1d583282" parentID="1071" level="2" creatorID="0" sortOrder="9" createDate="2016-10-09T09:29:55" updateDate="2016-10-09T09:58:11" nodeName="About Us" urlName="about-us" path="-1,1071,1139" isDoc="" nodeType="1138" creatorName="Neli" writerName="Neli" writerID="0" template="1137" nodeTypeAlias="about">
      <aboutGrid><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Three colum",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Our Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "The lighter side of science.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                },
                {
                  "value": "<p style=\"text-align: justify;\">We're here for the science - the funny side of science. Quotes, jokes, memes and anything your admin finds awesome and strange. <br />If you take yourself seriously, you're on the wrong page.<br />We're dedicated to bringing the amazing world of science straight to your newsfeed in an amusing and accessible way.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><img id=\"__mcenew\" src=\"/media/1011/author.jpg?width=126&amp;height=126\" alt=\"\" width=\"126\" height=\"126\" rel=\"1141\" data-id=\"1141\" /><strong>Kristy Hamilton</strong><br /><em>Copy Editor and Staff Writer</em></p>\n<p>California<br />196 articles published<br /><br /></p>\n<p><em><img id=\"__mcenew\" src=\"/media/1012/author_extra_large-1465394916-jonathan-o-callaghan.jpg?width=126&amp;height=126\" alt=\"\" width=\"126\" height=\"126\" rel=\"1142\" data-id=\"1142\" /></em><strong>Jonathan O'Callaghan</strong><em><br />Senior Staff Writer</em></p>\n<p>London<br />590 articles published</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Always ready to explore.</p>\n<p>Great with words.</p>\n<p>Make science fun and exciting.</p>\n<p>Love parties.</p>\n<p><img id=\"__mcenew\" src=\"/media/1014/noface-2.png?width=153&amp;height=153\" alt=\"\" width=\"153\" height=\"153\" rel=\"1144\" data-id=\"1144\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "add2b5c2-767d-3ed4-257e-5cf52f5abdd9"
        }
      ]
    }
  ]
}]]></aboutGrid>
    </about>
  </homePage>
</root>